# Ignore Python virtual environments
venv-shap/
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large files
models/*.pth
data/latents/
data/interpretable/
results/
